@charset "UTF-8";
/* CSS Document */

record { 
    color: #B43B3D; 
    background-color : #000000; 
	width: 100%;
	text-align: center;
} 
 heading { 
    color: #B43B3D; 
    font-size : 40px; 
    background-color : #000000; 
	text-align: center;
} 
 heading, artist, musicgenre, songnames, firstsong, secondsong, thirdsong, fourthsong { 
    display : block; 
	text-align: center;
} 
 artist { 
    font-size : 25px; 
    font-weight : bold; 
	text-align: center;
} 
